<h1 class="page-title"><%= gettext "Posts" %></h1>
<div class="row">
  <%= for post <- @posts do %>
    <div class="post-card">
      <h3 class="post-title"><%= post.title %></h3>
      <p class="post-body"><%= post.body %></p>
    </div>
  <% end %>
</div>